.box{
  width: 200px;
  height: 200px;
  background-color: coral;
  color: gray;
  overflow: scroll;
}

.products--grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}

.message--error{
  color: red;
  text-decoration: underline;
  opacity: 0;
}

.invalid{
  opacity: 100;
}
