<h1>Hello Angular</h1>
<h3>This is {{ name }}</h3>
<h4>{{ role }}</h4>
<p
  class="message--error"
  [class.invalid]="roleInput.invalid"
  [style.font-style]="roleInput.invalid ? 'italic' : 'normal'"
>
  El campo es requerido
</p>
<p>Valid {{ roleInput.valid }}</p>
<img [src]="image" />
<br />
<input [placeholder]="skills.music" />
<input [value]="name" (keyup)="changeName($event)" />
<input [(ngModel)]="role" #roleInput="ngModel" required />
<br />
<progress max="100" [value]="age"></progress>
<p *ngIf="age > 30">Master</p>
<ul>
  <li *ngIf="emojis.length === 0">Sin emojis</li>
  <li *ngFor="let emoji of emojis; index as i">
    {{ i + 1 }}{{ emoji }} <button (click)="deleteEmoji(i)">Delete</button>
  </li>
</ul>
<input type="text" required [(ngModel)]="newEmoji" />
<button (click)="addEmoji()">Add emoji</button>
<br />
<button [disabled]="btnDisabled" (click)="plus()">Go</button>
<br />
<button (click)="toggleButton()">Toggle</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero reiciendis
    provident fugiat voluptate? Rerum reiciendis suscipit fugit amet maxime ea
    quo magni voluptas qui ad deserunt, accusantium laborum, velit impedit!
  </p>
</div>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" [alt]="product.name" width="200" />
    <h3>{{ product.name }}</h3>
    <p
      [ngStyle]="{
        color: 'white',
        'background-color': 'blue'
      }"
    >
      {{ product.price }}
    </p>
    <p>{{ product.category }}</p>
  </div>
</div>
<p>
  {{ [1, 2].reverse() }}
</p>
